captures
yana.realm.lock
*realm
atlassian-ide-plugin.xml
*.iml
.gradle
/local.properties
.DS_Store
/build
/schematic/build
/schematic-annotations/build
/schematic-compiler/build
.idea
.apk
app/tools/permission/output/build_permissions.txt
node_modules
/paperdude/fataar-rules.pro
/paperdude/libs/
